absl-py==0.9.0
altair==4.1.0
appnope==0.1.0
astor==0.8.1
astunparse==1.6.3

certifi==2020.6.20
chardet==3.0.4
click==7.1.2
decorator==4.4.2
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
flit==2.3.0
flit-core==2.3.0
gast==0.3.3

ipywidgets==7.5.1

Keras-Preprocessing==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numpy==1.19.0
oauthlib==3.1.0
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.5




streamlit==0.62.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.3.1
tensorflow-estimator==2.2.0
termcolor==1.1.0

